<div class="pokemon-card">
    <div class="pokemon-card-image">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="Pokemon Image">
    </div>

    <div class="pokemon-card-number">
        #0001
    </div>

    <div class="pokemon-card-name">
        Bulbasaur
    </div>

    <div class="pokemon-card-types"> 
        <div class="type-grass">
            Grass
        </div>
        <div class="type-poison">
            Poison
        </div>
    </div>
</div>